.container
{
    max-width: 120rem;
    min-height: 50rem;
    margin: 8rem auto;
    background-color: var(--color-grey-light-2);
    box-shadow: 0 2rem 6rem var(--shadow-30);

    @media only screen and (max-width: $bp-1200)
    {
        margin: 0;
        max-width: 100%;
    }
}

.header
{
    height: 7rem;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 1.4rem;
    border-bottom: 0.1rem solid var(--color-grey-light-2);

    @media only screen and (max-width: $bp-500)
    {
        flex-wrap: wrap;
        align-content:space-around;
        height: 11rem;
    }
}

.content
{
    display: flex;

    @media only screen and (max-width: $bp-900)
    {
        flex-direction: column;
    }
}

.sidebar
{
    background-color: var(--color-grey-dark-1);
    flex: 0 0 18%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.hotel-view
{
    flex: 1;
    background-color: white;
}

.detail
{
    font-size: 1.4rem;
    display: flex;
    padding: 4.5rem;
    background-color: var(--color-grey-light-1);
    border-bottom: 0.1rem solid var(--color-grey-light-2);

    @media only screen and (max-width: $bp-900)
    {
        padding: 3rem;
    }

    @media only screen and (max-width: $bp-600)
    {
        flex-direction: column;
    }
}

.description
{
    background-color:white;
    flex: 0 0 60%;
    padding: 3rem;
    margin-right: 4.5rem;
    box-shadow: 0 2rem 5rem var(--shadow-10);

    @media only screen and (max-width: $bp-900)
    {
        padding: 2rem;
        margin-right: 3rem;
    }

    @media only screen and (max-width: $bp-600)
    {
        margin-right: 0;
        margin-bottom: 3rem;
    }
}

.user-reviews
{
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
}